 /**
 * @name BetterBG
 * @author CloneyInnit#6510
 * @version 7.0
 * @description A alternative to userbg!
 * @source https://github.com/CloneyInnit/UserProfileBG
 * @website None!
 * @invite none at the moment
*/

/* Import URL */
@import url('https://flashc0rd.github.io/BetterBG/src/main.css');
