 /**
 * @name BetterBG
 * @author Team Flashcord
 * @version 7.0
 * @description A standalone alternative to USRBG, but in a theme!
 * @source https://github.com/Flashc0rd/BetterBG
 * @website None!
 * @invite https://discord.gg/NpAaYebTqS
*/

/* Import URL */
@import url('https://flashc0rd.github.io/BetterBG/src/main.css');
