@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url('https://flashc0rd.github.io/BetterBG/src/extra/popouts.css');
@import url('https://flashc0rd.github.io/BetterBG/src/extra/modals.css');
@import url('https://flashc0rd.github.io/BetterBG/bg/backgrounds.css');
