/*
USRBG Profile Modals by Tropix126. Remade By FLashc0rd. Modified By It'sJustJosh.
==================================================================================
If your theme heavily modifies the positioning for these modals, I
suggest either messing around with the below variables, or writing your
own custom code using the database. You are allowed to use this in your theme
without prior permission from me or any other contributors to USRBG.
*/

/* Imports */
@import url('https://flashc0rd.github.io/BetterBG/bg/backgrounds.css');
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

/* Main Profile  */
.header-QKLPzZ .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  pointer-events: none;
  opacity: .5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--user-popout-position) center;
  background-image: var(--user-background);
  -webkit-mask-image: linear-gradient(black, transparent 80%);
}

/* Important */
.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
z-index: 1;
position: relative;}
:root{--user-popout-position:center;}
.root-SR8cQa {transform: translateZ(0);}
