/*
USRBG Popouts by Tropix126. Remade By Flashc0rd. Modified By It'sJustJosh.
==========================================================================================
Please note that this snippet requires basic transparency on the user popout in order for
the background to be fully visible. You are allowed to use this in your theme
without prior permission from me or any other contributors to USRBG.
*/

/* Imports */
@import url('https://flashc0rd.github.io/BetterBG/bg/backgrounds.css');
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

/* Sub Profile - Custom Popouts */
.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 55%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(black, transparent 80%);
}

/* Important */
.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
z-index: 1;}
:root{--user-popout-position:center;}
.userPopout-3XzG_A {transform:translateZ(0);}
