/*UserProfileBG*/
/*Remake of usrbg*/
/*The backgrounds database*/

.userPopout-3XzG_A {
	--user-popout-position: center;
}

/*CloneyInnit*/

[user_by_bdfdb="729934422068953098"],
[data-user-id="729934422068953098"] {
	--user-background: url('https://i.imgur.com/Zdojm22.gif');
}

/*ItsJustJosh*/

[user_by_bdfdb="362628885361197056"],
[data-user-id="362628885361197056"] {
    --user-background: url('https://i.imgur.com/bLjT5yC.png');
}

/*Harry#9999*/

[user_by_bdfdb="428450288668508160"],
[data-user-id="428450288668508160"] {
    --user-background: url('https://cdn.discordapp.com/attachments/818142332641607712/820242623888752640/harry.png');
}

/*poob#1410*/

[user_by_bdfdb="708550161659592734"],
[data-user-id="708550161659592734"] {
    --user-background: url('https://i.imgur.com/eczLRnm.gif');
}

/*Yeohaeng#9006*/

[user_by_bdfdb="459774467493593088"],
[data-user-id="459774467493593088"] {
    --user-background: url('https://i.imgur.com/kFSxm2R.gif');
}

/*EnderTweaks#7188*/

[user_by_bdfdb="794603329174110218"],
[data-user-id="794603329174110218"] {
    --user-background: url('https://cdn.discordapp.com/attachments/818142332641607712/820926384922165278/stronghold.jpg');
}

/*Flashbot#1950*/

[user_by_bdfdb="820704374170320916"],
[data-user-id="820704374170320916"] {
    --user-background: url('https://cdn.discordapp.com/attachments/818142332641607712/820926798674132992/gradient.png');
}

/*semi addict#1001*/

[user_by_bdfdb="812635036301131816"],
[data-user-id="812635036301131816"] {
    --user-background: url('https://i.imgur.com/oarIVQZ.gif');
}

/*arctic#9999*/

[user_by_bdfdb="160504751203549185"],
[data-user-id="160504751203549185"] {
    --user-background: url('https://i.imgur.com/ZIXoDgp.gif');
}

/*_qtChen#6316*/

[user_by_bdfdb="744283788305104917"],
[data-user-id="744283788305104917"] {
    --user-background: url('https://cdn.discordapp.com/attachments/821057993814441984/821058022763003965/ng-colab-space_day.gif');
}

/*Syfe#0001*/
[user_by_bdfdb="190733468550823945"],
[data-user-id="190733468550823945"]{
    --user-background: url('https://cdn.discordapp.com/attachments/821083972724588564/821414863468888074/landscape-1481300544-nasagif10_1.gif');
}

/*PoorPockets McNewHold#2546*/
[user_by_bdfdb="277173061973835778"],
[data-user-id="277173061973835778"]{
    --user-background: url('https://media.discordapp.net/attachments/823461384289255434/823462050264514580/678c1e60154275a7.gif');
}

/*Nexus Novaz#0862*/

[user_by_bdfdb="153284216228937728"],
[data-user-id="153284216228937728"]{
    --user-background: url('https://cdn.discordapp.com/attachments/493473764915413016/824323666724651029/giphy_1.gif');
}

/*Moon#6000*/
[user_by_bdfdb="264516533152120832"],
[data-user-id="264516533152120832"]{
    --user-background: url('https://i.imgur.com/AkyMo6k.png');
}

/*poobers#1957*/
[user_by_bdfdb="820687713777877003"],
[data-user-id="820687713777877003"]{
    --user-background: url('https://i.imgur.com/wEzGJVX.gif');
}

/*jewdev#8485*/
[user_by_bdfdb="222369866529636353"],
[data-user-id="222369866529636353"]{
    --user-background: url('https://i.imgur.com/xe9frRP.gif');
}

/*Terminal#8147*/
[user_by_bdfdb="826113833399222362"],
[data-user-id="826113833399222362"]{
    --user-background: url('https://cdn.discordapp.com/attachments/812727960468586496/826907711181684796/280620matrix.png');
}

/*HydroFalcon#0527*/
[user_by_bdfdb="704828148977762356"],
[data-user-id="704828148977762356"]{
    --user-background: url('https://i.imgur.com/GqTrEcx.jpg');
}

/*ItsFrosty#0001*/
[user_by_bdfdb="304081218486665226"],
[data-user-id="304081218486665226"]{
    --user-background: url('https://i.imgur.com/pqdICWJ.gif');
}

/*noawh#0011*/
[user_by_bdfdb="132575268832411648"],
[data-user-id="132575268832411648"]{
    --user-background: url('https://cdn.discordapp.com/attachments/287051775465357313/831202555655880735/215c7fdca6033092baa04b35c17466bd.gif');
}

/*PratyushGaming#3721*/
[user_by_bdfdb="352837489125228546"],
[data-user-id="352837489125228546"]{
    --user-background: url('https://media.discordapp.net/attachments/796705877087879229/831447105293778954/karl-magnuson-HQR_JXd-fPs-unsplash.jpg?width=408&height=613');
}

/*TechnikusGT#2221*/
[user_by_bdfdb="424138923237965826"],
[data-user-id="424138923237965826"]{
    --user-background: url('https://cdn.discordapp.com/attachments/789142303196971049/831471841604403250/vertical_anime_anime_girls_WLOP_car_city_street-1948627.jpg');
}
