/*UserProfileBG*/
/*Remake of usrbg*/
/*The backgrounds database*/

.userPopout-3XzG_A {
	--user-popout-position: center;
}

/*CloneyInnit*/

[user_by_bdfdb="729934422068953098"],
[data-user-id="729934422068953098"] {
	--user-background: url('https://i.imgur.com/Zdojm22.gif');
}

/*ItsJustJosh*/

[user_by_bdfdb="362628885361197056"],
[data-user-id="362628885361197056"] {
    --user-background: url('https://i.imgur.com/bLjT5yC.png');
}

/*Harry#9999*/

[user_by_bdfdb="428450288668508160"],
[data-user-id="428450288668508160"] {
    --user-background: url('https://cdn.discordapp.com/attachments/818142332641607712/820242623888752640/harry.png');
}

/*poob#1410*/

[user_by_bdfdb="708550161659592734"],
[data-user-id="708550161659592734"] {
    --user-background: url('https://i.imgur.com/eczLRnm.gif');
}

/*Yeohaeng#9006*/

[user_by_bdfdb="459774467493593088"],
[data-user-id="459774467493593088"] {
    --user-background: url('https://i.imgur.com/kFSxm2R.gif');
}

/*EnderTweaks#7188*/

[user_by_bdfdb="794603329174110218"],
[data-user-id="794603329174110218"] {
    --user-background: url('https://cdn.discordapp.com/attachments/818142332641607712/820926384922165278/stronghold.jpg');
}

/*Flashbot#1950*/

[user_by_bdfdb="820704374170320916"],
[data-user-id="820704374170320916"] {
    --user-background: url('https://cdn.discordapp.com/attachments/818142332641607712/820926798674132992/gradient.png');
}

/*semi addict#1001*/

[user_by_bdfdb="812635036301131816"],
[data-user-id="812635036301131816"] {
    --user-background: url('https://i.imgur.com/oarIVQZ.gif');
}

/*arctic#9999*/

[user_by_bdfdb="160504751203549185"],
[data-user-id="160504751203549185"] {
    --user-background: url('https://i.imgur.com/ZIXoDgp.gif');
}

/*_qtChen#6316*/

[user_by_bdfdb="744283788305104917"],
[data-user-id="744283788305104917"] {
    --user-background: url('https://cdn.discordapp.com/attachments/821057993814441984/821058022763003965/ng-colab-space_day.gif');
}

/*Syfe#0001*/
[user_by_bdfdb="190733468550823945"],
[data-user-id="190733468550823945"]{
    --user-background: url('https://cdn.discordapp.com/attachments/821083972724588564/821414863468888074/landscape-1481300544-nasagif10_1.gif');
}

/*PoorPockets McNewHold#2546*/
[user_by_bdfdb="277173061973835778"],
[data-user-id="277173061973835778"]{
    --user-background: url('https://media.discordapp.net/attachments/823461384289255434/823462050264514580/678c1e60154275a7.gif');
}
