/*UserProfileBG*/
/*Remake of usrbg*/
/*The backgrounds database*/

.userPopout-3XzG_A {
	--user-popout-position: center;
}

/*CloneyInnit*/

[user_by_bdfdb="729934422068953098"],
[data-user-id="729934422068953098"],
[vz-user-id="729934422068953098"],
[data-author-id="729934422068953098"],
[aria-label^="Cloney"]  {
	--user-background: url('https://i.imgur.com/Zdojm22.gif');
}

/*ItsJustJosh*/
[data-author-id="362628885361197056"],
[vz-user-id="362628885361197056"],
[data-user-id="362628885361197056"],
[user_by_bdfdb="362628885361197056"],
[aria-label^="It'sJustJosh"] {
--user-background: url('https://i.imgur.com/bLjT5yC.png');}
/*Joshua Malava#0079*/
[data-author-id="750781478991954031"],
[vz-user-id="750781478991954031"],
[data-user-id="750781478991954031"],
[user_by_bdfdb="750781478991954031"],
[aria-label^="Joshua Malava"] {
--user-background: url('https://i.imgur.com/9McFsrM.png');}


/*Harry#9999*/

[user_by_bdfdb="428450288668508160"],
[data-user-id="428450288668508160"],
[vz-user-id="428450288668508160"],
[data-author-id="428450288668508160"],
[aria-label^="Harry."] {
    --user-background: url('https://cdn.discordapp.com/attachments/818142332641607712/820242623888752640/harry.png');
}

/*poob#1410*/

[user_by_bdfdb="708550161659592734"],
[data-user-id="708550161659592734"],
[vz-user-id="708550161659592734"],
[data-author-id="708550161659592734"],
[aria-label^="poob"] {
    --user-background: url('https://i.imgur.com/eczLRnm.gif');
}

/*Yeohaeng#9006*/

[user_by_bdfdb="459774467493593088"],
[data-user-id="459774467493593088"],
[vz-user-id="459774467493593088"],
[data-author-id="459774467493593088"],
[aria-label^="Yeohaeng"] {
    --user-background: url('https://i.imgur.com/kFSxm2R.gif');
}

/*EnderTweaks#7188*/

[user_by_bdfdb="794603329174110218"],
[data-user-id="794603329174110218"],
[vz-user-id="794603329174110218"],
[data-author-id="794603329174110218"],
[aria-label^="EnderTweaks"] {
    --user-background: url('https://cdn.discordapp.com/attachments/818142332641607712/820926384922165278/stronghold.jpg');
}

/*Flashbot#1950*/

[user_by_bdfdb="820704374170320916"],
[data-user-id="820704374170320916"],
[vz-user-id="820704374170320916"],
[data-author-id="820704374170320916"],
[aria-label^="Flashbot"] {
    --user-background: url('https://cdn.discordapp.com/attachments/818142332641607712/820926798674132992/gradient.png');
}

/*semi addict#1001*/

[user_by_bdfdb="812635036301131816"],
[data-user-id="812635036301131816"],
[vz-user-id="812635036301131816"],
[data-author-id="812635036301131816"],
[aria-label^="semi addict"] {
    --user-background: url('https://i.imgur.com/oarIVQZ.gif');
}

/*arctic#9999*/

[user_by_bdfdb="160504751203549185"],
[data-user-id="160504751203549185"],
[vz-user-id="160504751203549185"],
[data-author-id="160504751203549185"],
[aria-label^="arctic"] {
    --user-background: url('https://i.imgur.com/ZIXoDgp.gif');
}

/*_qtChen#6316*/

[user_by_bdfdb="744283788305104917"],
[data-user-id="744283788305104917"],
[vz-user-id="744283788305104917"],
[data-author-id="744283788305104917"],
[aria-label^="_qtChen"] {
    --user-background: url('https://cdn.discordapp.com/attachments/821057993814441984/821058022763003965/ng-colab-space_day.gif');
}

/*Syfe#0001*/
[user_by_bdfdb="190733468550823945"],
[data-user-id="190733468550823945"],
[vz-user-id="190733468550823945"],
[data-author-id="190733468550823945"],
[aria-label^="Syfe"] {
    --user-background: url('https://cdn.discordapp.com/attachments/821083972724588564/821414863468888074/landscape-1481300544-nasagif10_1.gif');
}

/*PoorPockets McNewHold#2546*/
[user_by_bdfdb="277173061973835778"],
[data-user-id="277173061973835778"],
[vz-user-id="277173061973835778"],
[data-author-id="277173061973835778"],
[aria-label^="McNewHold"] {
    --user-background: url('https://media.discordapp.net/attachments/823461384289255434/823462050264514580/678c1e60154275a7.gif');
}

/*Nexus Novaz#0862*/

[user_by_bdfdb="153284216228937728"],
[data-user-id="153284216228937728"],
[vz-user-id="153284216228937728"],
[data-author-id="153284216228937728"],
[aria-label^="Nexus Novaz"] {
    --user-background: url('https://cdn.discordapp.com/attachments/493473764915413016/824323666724651029/giphy_1.gif');
}

/*Moon#6000*/
[user_by_bdfdb="264516533152120832"],
[data-user-id="264516533152120832"],
[vz-user-id="264516533152120832"],
[data-author-id="264516533152120832"],
[aria-label^="Moon"] {
    --user-background: url('https://i.imgur.com/AkyMo6k.png');
}

/*poobers#1957*/
[user_by_bdfdb="820687713777877003"],
[data-user-id="820687713777877003"],
[vz-user-id="820687713777877003"],
[data-author-id="820687713777877003"],
[aria-label^="poobers"] {
    --user-background: url('https://i.imgur.com/wEzGJVX.gif');
}

/*jewdev#8485*/
[user_by_bdfdb="222369866529636353"],
[data-user-id="222369866529636353"],
[vz-user-id="222369866529636353"],
[data-author-id="222369866529636353"],
[aria-label^="jewdev"] {
    --user-background: url('https://i.imgur.com/xe9frRP.gif');
}

/*Terminal#8147*/
[user_by_bdfdb="826113833399222362"],
[data-user-id="826113833399222362"],
[vz-user-id="826113833399222362"],
[data-author-id="826113833399222362"],
[aria-label^="Terminal"] {
    --user-background: url('https://cdn.discordapp.com/attachments/812727960468586496/826907711181684796/280620matrix.png');
}

/*HydroFalcon#0527*/
[user_by_bdfdb="704828148977762356"],
[data-user-id="704828148977762356"],
[vz-user-id="704828148977762356"],
[data-author-id="704828148977762356"],
[aria-label^="HydroFalcon"] {
    --user-background: url('https://i.imgur.com/GqTrEcx.jpg');
}

/*ItsFrosty#0001*/
[user_by_bdfdb="304081218486665226"],
[data-user-id="304081218486665226"],
[vz-user-id="304081218486665226"],
[data-author-id="304081218486665226"],
[aria-label^="ItsFrosty"] {
    --user-background: url('https://i.imgur.com/pqdICWJ.gif');
}

/*noawh#0011*/
[user_by_bdfdb="132575268832411648"],
[data-user-id="132575268832411648"],
[vz-user-id="132575268832411648"],
[data-author-id="132575268832411648"],
[aria-label^="noawh"] {
    --user-background: url('https://cdn.discordapp.com/attachments/287051775465357313/831913392520298496/tenor.gif');
}

/*PratyushGaming#3721*/
[user_by_bdfdb="352837489125228546"],
[data-user-id="352837489125228546"],
[vz-user-id="352837489125228546"],
[data-author-id="352837489125228546"],
[aria-label^="PratyushGaming"] {
    --user-background: url('https://media.discordapp.net/attachments/796705877087879229/831447105293778954/karl-magnuson-HQR_JXd-fPs-unsplash.jpg?width=408&height=613');
}

/*TechnikusGT#2221*/
[user_by_bdfdb="424138923237965826"],
[data-user-id="424138923237965826"],
[vz-user-id="424138923237965826"],
[data-author-id="424138923237965826"],
[aria-label^="TechnikusGT"] {
    --user-background: url('https://cdn.discordapp.com/attachments/789142303196971049/831471841604403250/vertical_anime_anime_girls_WLOP_car_city_street-1948627.jpg');
}

/*MaTiD#0001*/
[user_by_bdfdb="292002944726073345"],
[data-user-id="292002944726073345"],
[vz-user-id="292002944726073345"],
[data-author-id="292002944726073345"],
[aria-label^="MaTiD"] {
    --user-background: url('https://cdn.discordapp.com/attachments/783955464639348757/833350934046310424/tlo.gif');
}

/*Crenshaw#1312*/
[user_by_bdfdb="766385575530856458"],
[data-user-id="766385575530856458"],
[vz-user-id="766385575530856458"],
[data-author-id="766385575530856458"],
[aria-label^="Crenshaw"] {
    --user-background: url('https://cdn.discordapp.com/attachments/773783597861437471/818049917422403584/Crenshaw.jpg');
}

/*Kuhmann#1107*/
[user_by_bdfdb="519698069340684298"],
[data-user-id="519698069340684298"],
[vz-user-id="519698069340684298"],
[data-author-id="519698069340684298"],
[aria-label^="Kuhmann"] {
    --user-background: url('https://cdn.discordapp.com/attachments/806787725918863360/834711638824189982/S9Le.gif');
}

/*Imperium#4883*/

[user_by_bdfdb="461396997711069195"],
[data-user-id="461396997711069195"],
[vz-user-id="461396997711069195"],
[data-author-id="461396997711069195"],
[aria-label^="Imperium"] {
    --user-background: url('https://cdn.discordapp.com/attachments/808009216953810967/837631972033036318/292hFDcNeHZC.png');
}

/* Nyria#3863 */
/* Removed By His Request */

/* Doggybootsy Josh's Friend */
[user_by_bdfdb="515780151791976453"],
[data-user-id="515780151791976453"],
[vz-user-id="515780151791976453"],
[data-author-id="515780151791976453"],
[aria-label^="Doggybootsy(pinging is okay)"] {
--user-background: url('https://i.imgur.com/dkndkV8.jpg');}

/* Ainsley Josh's Friend */
[user_by_bdfdb="744392112996352080"],
[data-user-id="744392112996352080"],
[vz-user-id="744392112996352080"],
[data-author-id="744392112996352080"],
[aria-label^="Cosmic_Snakes (Ainsley)"] {
--user-background: url('https://cdn.discordapp.com/attachments/768889408081625129/840324132612210718/StreamImageStarter.png');}

/* Gusted Josh's Friend */
[user_by_bdfdb="796054126382546964"],
[data-user-id="796054126382546964"],
[vz-user-id="796054126382546964"],
[data-author-id="796054126382546964"],
[aria-label^="Gusted"] {
--user-background: url('https://cdn.discordapp.com/attachments/837677643397726218/840326787568631854/1200px-Non-binary_enby_pride_flag.svg.png');}

/* Kewl Josh's Friend */
[user_by_bdfdb="362628885361197056"],
[data-user-id="362628885361197056"],
[vz-user-id="362628885361197056"],
[data-author-id="362628885361197056"],
[aria-label^="Kewl Sage from Hypesquad"] {
--user-background: url('https://cdn.discordapp.com/attachments/704947753108897832/774263170079522846/unknown.png');}

/*Andrew#4037*/
[data-author-id="725512473678970940"],
[vz-user-id="725512473678970940"],
[data-user-id="725512473678970940"],
[user_by_bdfdb="725512473678970940"],
[aria-label^="Andrew"] {
--user-background: url('https://cdn.discordapp.com/attachments/809836653429391360/841356916520779796/image0.png');}

/* Pukima#8949 *//* Randomized Backgrounds */
[data-author-id="751092600890458203"],
[vz-user-id="751092600890458203"],
[data-user-id="751092600890458203"],
[user_by_bdfdb="751092600890458203"],
[aria-label^="Pukima"] {
--user-background: url('https://source.unsplash.com/user/pukima');}

/* 01#0101 */
[data-author-id="187402426968571904"],
[vz-user-id="187402426968571904"],
[data-user-id="187402426968571904"],
[user_by_bdfdb="187402426968571904"],
[aria-label^="01"] {
--user-background: url('https://cdn.discordapp.com/attachments/379521692420145161/841412898215165992/cat.png');}

/* Freeplay#5676 */
[data-author-id="158296466119458816"],
[vz-user-id="158296466119458816"],
[data-user-id="158296466119458816"],
[user_by_bdfdb="158296466119458816"],
[aria-label^="Freeplay"] {
--user-background: url('https://cdn.discordapp.com/attachments/379521692420145161/841073860501045268/foxxo_in_sno.jpg');}

/*etwo*/
[data-author-id="834571451612004383"],
[vz-user-id="834571451612004383"],
[data-user-id="834571451612004383"],
[user_by_bdfdb="834571451612004383"],
[aria-label^="etwo"] {
    --user-background: url("https://cdn.discordapp.com/attachments/820007083704582196/843212207889711104/original.gif");
}
