/*UserProfileBG*/
/*Remake of usrbg*/
/*The backgrounds database*/

.userPopout-3XzG_A {
	--user-popout-position: center;
}

/*CloneyInnit*/

[user_by_bdfdb="729934422068953098"],
[data-user-id="729934422068953098"] {
	--user-background: url('https://i.imgur.com/Zdojm22.gif');
}

/*ItsJustJosh*/

[user_by_bdfdb="362628885361197056"],
[data-user-id="362628885361197056"] {
    --user-background: url('https://i.imgur.com/bLjT5yC.png');
}

/*Harry#9999*/

[user_by_bdfdb="428450288668508160"],
[data-user-id="428450288668508160"] {
    --user-background: url('https://cdn.discordapp.com/attachments/818142332641607712/820242623888752640/harry.png');
}

/*poob#1410*/

[user_by_bdfdb="708550161659592734"],
[data-user-id="708550161659592734"] {
    --user-background: url('https://i.imgur.com/eczLRnm.gif');
}

/*Yeohaeng#9006*/

[user_by_bdfdb="459774467493593088"],
[data-user-id="459774467493593088"] {
    --user-background: url('https://i.imgur.com/kFSxm2R.gif');
}
